.blog-navbar-brand {
  width: 180px;
}

.blog-navbar {
  /* padding-top: 25px;
  padding-bottom: 25px; */
  background-color: white;
  -webkit-box-shadow: 2px 0px 18px 1px rgba(222, 222, 222, 1);
  -moz-box-shadow: 2px 0px 18px 1px rgba(222, 222, 222, 1);
  box-shadow: 2px 0px 4px 1px rgba(222, 222, 222, 1);
}

.blog-navbar-add-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  text-decoration: none;
  border: 1px solid black;
  transition: 0.2s;
}
.blog-navbar-add-button:hover {
  box-shadow: 0 5px 10px rgba(128, 128, 128, 0.3);
  transform: scale(1.1);
  border: 1px solid black;
}
.blog-navbar-add-button:focus {
  box-shadow: unset !important;
}
.blog-navbar-add-button:active {
  box-shadow: 0 5px 10px rgba(128, 128, 128, 0.8) !important;
  border: 1px solid grey !important;
  opacity: 0.5;
}
